numpy>=1.15.4
gym>=0.10.9
PySimpleGUI>=4.20.0
simple-plugin-loader>=1.6
# setuptools==58 # other versions break elo library install
elo>=0.1.1, <0.2.0
arcade>=2.6.7, <2.7.0
cma==3.2.2
torch==1.10.2
scipy>=1.5
tqdm==4.64.1
matplotlib==3.6.1
gym_cool_game @ git+https://github.com/Danielhp95/GGJ-2020-cool-game.git
kfp~=1.8.14
kubernetes~=18.20.0
regym~=0.0.1
gcsfs~=2022.8.2